<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Snippet conversion</title>
  <style>
    body {
      text-align: center;
      margin: 0;
    }

    #main .content {
      width: 100vw;
      margin-top: 30px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    #main .content .btn {
      width: 40px;
    }

    #main .content .code {
      display: flex;
      flex-direction: column;
    }

    #main .content .code input {
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div>给我变</div>
    <div id="main">
      <div class="content">
        <div class="code">
          <input v-model="prefix" type="text" placeholder="触发字段">
          <input v-model="description" type="text" placeholder="说明信息">
          <textarea v-model="code" rows="35" cols="60"></textarea>
        </div>
        <div class="btn">
          <button @click="change">转换</button>
          <!-- <button @click="reset">重置</button> -->
        </div>
        <div class="print">
          <textarea v-model="print" rows="40" cols="60"></textarea>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      prefix: '', // 触发字段
      code: '', // 代码片段
      description: '', // 描述信息
      json: '', // 转换的代码片段
      print: '' // 输出内容
    },
    methods: {
      // 代码转换json方法
      change() {
        let list = []
        this.json = ''
        if (!this.code) {
          alert("代码框输入不能为空")
          return
        }
        list = this.code.split(/[\r\n]+/)
        list.forEach((item, i) => {
          item = `"${item}"`
          if (i !== (list.length - 1)) {
            this.json += item + ",\n"
          } else {
            this.json += item
          }
        });
        // 拼接显示字符串
        this.print = '"prefix": "' + this.prefix + '",\n' + '"body": [\n' + this.json + '],\n' + '"description":' + '"' + this.description + '"'
        // 替换$符为转义
        this.print = this.print.replace(/[\$]/g, '\\\\$')
      },
      // reset () {
      //   this.
      // }
    }
  })
</script>

</html>